framework:
    cache:
        app: cache.adapter.filesystem
        system: cache.adapter.system

        pools:
            api.cache:
                adapter: cache.adapter.filesystem
                default_lifetime: 900
