parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    Seaswim\:
        resource: '../src/'
        exclude:
            - '../src/Domain/Entity/'
            - '../src/Domain/ValueObject/'
            - '../src/Infrastructure/Kernel.php'

    Seaswim\Infrastructure\Controller\:
        resource: '../src/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    # HTTP Clients
    Seaswim\Infrastructure\ExternalApi\Client\RwsHttpClient:
        arguments:
            $baseUrl: '%seaswim.apis.rijkswaterstaat.base_url%'
            $timeout: '%seaswim.apis.rijkswaterstaat.timeout%'

    Seaswim\Infrastructure\ExternalApi\Client\RwsHttpClientInterface:
        alias: Seaswim\Infrastructure\ExternalApi\Client\RwsHttpClient

    Seaswim\Infrastructure\ExternalApi\Client\BuienradarHttpClient:
        arguments:
            $baseUrl: '%seaswim.apis.buienradar.base_url%'
            $timeout: '%seaswim.apis.buienradar.timeout%'

    Seaswim\Infrastructure\ExternalApi\Client\BuienradarHttpClientInterface:
        alias: Seaswim\Infrastructure\ExternalApi\Client\BuienradarHttpClient

    # Adapters
    Seaswim\Infrastructure\ExternalApi\RijkswaterstaatAdapter:
        arguments:
            $cache: '@api.cache'
            $cacheTtl: '%seaswim.cache.water_ttl%'

    Seaswim\Infrastructure\ExternalApi\BuienradarAdapter:
        arguments:
            $cache: '@api.cache'
            $cacheTtl: '%seaswim.cache.weather_ttl%'

    Seaswim\Infrastructure\ExternalApi\RijkswaterstaatTidalAdapter:
        arguments:
            $cache: '@api.cache'
            $cacheTtl: '%seaswim.cache.water_ttl%'

    # Ports
    Seaswim\Application\Port\WaterConditionsProviderInterface:
        alias: Seaswim\Infrastructure\ExternalApi\RijkswaterstaatAdapter

    Seaswim\Application\Port\WeatherConditionsProviderInterface:
        alias: Seaswim\Infrastructure\ExternalApi\BuienradarAdapter

    Seaswim\Application\Port\TidalInfoProviderInterface:
        alias: Seaswim\Infrastructure\ExternalApi\RijkswaterstaatTidalAdapter

    # Repositories
    Seaswim\Infrastructure\Repository\JsonFileRwsLocationRepository:
        arguments:
            $projectDir: '%kernel.project_dir%'

    Seaswim\Application\Port\RwsLocationRepositoryInterface:
        alias: Seaswim\Infrastructure\Repository\JsonFileRwsLocationRepository

    Seaswim\Infrastructure\Repository\JsonFileBuienradarStationRepository:
        arguments:
            $projectDir: '%kernel.project_dir%'

    Seaswim\Application\Port\BuienradarStationRepositoryInterface:
        alias: Seaswim\Infrastructure\Repository\JsonFileBuienradarStationRepository

    # Use Cases
    Seaswim\Application\UseCase\ClearCache:
        arguments:
            $cache: '@api.cache'
