parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    Seaswim\:
        resource: '../src/'
        exclude:
            - '../src/Domain/Entity/'
            - '../src/Domain/ValueObject/'
            - '../src/Infrastructure/Kernel.php'

    Seaswim\Infrastructure\Controller\:
        resource: '../src/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    # HTTP Clients
    Seaswim\Infrastructure\ExternalApi\Client\RwsHttpClient:
        arguments:
            $baseUrl: '%seaswim.apis.rijkswaterstaat.base_url%'
            $timeout: '%seaswim.apis.rijkswaterstaat.timeout%'

    Seaswim\Infrastructure\ExternalApi\Client\RwsHttpClientInterface:
        alias: Seaswim\Infrastructure\ExternalApi\Client\RwsHttpClient

    Seaswim\Infrastructure\ExternalApi\Client\KnmiHttpClient:
        arguments:
            $baseUrl: '%seaswim.apis.knmi.base_url%'
            $apiKey: '%seaswim.apis.knmi.api_key%'
            $timeout: '%seaswim.apis.knmi.timeout%'

    Seaswim\Infrastructure\ExternalApi\Client\KnmiHttpClientInterface:
        alias: Seaswim\Infrastructure\ExternalApi\Client\KnmiHttpClient

    # Adapters
    Seaswim\Infrastructure\ExternalApi\RijkswaterstaatAdapter:
        arguments:
            $cache: '@api.cache'
            $cacheTtl: '%seaswim.cache.water_ttl%'

    Seaswim\Infrastructure\ExternalApi\KnmiAdapter:
        arguments:
            $cache: '@api.cache'
            $cacheTtl: '%seaswim.cache.weather_ttl%'

    Seaswim\Infrastructure\ExternalApi\RijkswaterstaatTidalAdapter:
        arguments:
            $cache: '@api.cache'
            $cacheTtl: '%seaswim.cache.water_ttl%'

    # Ports
    Seaswim\Application\Port\WaterConditionsProviderInterface:
        alias: Seaswim\Infrastructure\ExternalApi\RijkswaterstaatAdapter

    Seaswim\Application\Port\WeatherConditionsProviderInterface:
        alias: Seaswim\Infrastructure\ExternalApi\KnmiAdapter

    Seaswim\Application\Port\TidalInfoProviderInterface:
        alias: Seaswim\Infrastructure\ExternalApi\RijkswaterstaatTidalAdapter

    # Repository
    Seaswim\Infrastructure\Repository\JsonFileLocationRepository:
        arguments:
            $projectDir: '%kernel.project_dir%'

    Seaswim\Application\Port\LocationRepositoryInterface:
        alias: Seaswim\Infrastructure\Repository\JsonFileLocationRepository

    # Use Cases
    Seaswim\Application\UseCase\ClearCache:
        arguments:
            $cache: '@api.cache'
